<link rel="stylesheet" href="/public/admin/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/public/admin/css/basic.css">
<link rel="stylesheet" type="text/css" href="/public/admin/css/th_style.css"/>
<script type="text/javascript" src="/public/admin/bootstrap/js/jquery-1.10.1.js"></script>
<!--引入bootstrapjs 為了讓 nav-tabs点击事件显示对应的内容,他是基于jq的因此要放在他的后面-->
<script type="text/javascript" src="/public/admin/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/public/admin/js/base.js"></script>

