<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {{include '../public/header.html'}}

</head>
<body>
<!--The content below is only a placeholder and can be replaced.-->






           
            <div class="panel panel-default">
                <div class="panel-heading">
                    搜索
                </div>
                <div class="panel-body">
                    <form role="form" class="form-inline" method="get" action="/admin/manager">
                        <div class="form-group">
                            <label for="name">名称</label>
                            <input type="text" class="form-control" id="name" placeholder="请输入名称" name="keywords">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-default">开始搜索</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--
                列表展示
            -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr class="th">
                        <th>用户名</th>
                        <th>角色</th>
                        <th>电话</th>
                        <th>邮箱</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{each list }}
                    <tr>
                        <td>{{$value.username}}</td>
                        <td>{{$value.item[0].title}}</td>
                        <td>{{$value.mobile}}</td>
                        <td>{{$value.email}}</td>
                        <td>{{if $value.status==1}}<img src="/public/admin/images/yes.gif" onclick="app.changeStatus('Admin','status',this,{{$value._id}})">{{else}}<img src="/public/admin/images/no.gif" onclick="app.changeStatus('Admin','status',this,{{$value._id}})">{{/if}}</td>
                        <td class="text-center"><a href="/admin/manager/edit?id={{@$value._id}}">编辑</a>
                            <a href="/admin/deleteOne?id={{@$value._id}}&collection=Admin">删除</a></td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>



</body>
</html>