<div class="banner_x center">
    <a href="./index.html" target="_blank"><div class="logo fl"></div></a>
    <a href=""><div class="ad_top fl"></div></a>
    <div class="nav fl">
        <ul class="clearfix" id="nav_list">
            <li class="goods_cate_show">
                <a href="/" target="_blank">全部商品</a>
                <div class="banner_y center">
                    <div class="nav">
                        <ul>
                            {{each goods_cate_list}}
                            <li>
                                <a href="#">{{$value.title}}</a>
                                <div class="pop clear">
                                    <ol class="cate_list ">

                                        {{each $value.items}}
                                        <li >
                                            <div class="xuangou_left">
                                                <a href="#" >
                                                    <div class=" flm"><img src="{{$value.cate_img}}" alt="{{$value.title}}"></div>
                                                    <span class="flm">{{$value.title}}</span>
                                                </a>
                                            </div>

                                        </li>
                                        {{/each}}

                                    </ol>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

            </li>
            {{each nav_middle_list}}
            <li>
                <a href="#" target="_blank">{{$value.title}}</a>
                {{if $value.goods_list}}
                <ol class="children-list clearfix">
                    {{each $value.goods_list}}
                    <li>
                        <a href="#" style="">
                            <img src="{{helper.formatImage($value.goods_img,180)}}" />
                            <p>{{$value.title}}</p>
                        </a>
                    </li>
                    {{/each}}

                </ol>
                {{/if}}
            </li>
            {{/each}}

        </ul>
    </div>
    <div class="search fr">
        <form action="" method="post">
            <div class="text fl">
                <input type="text" class="shuru"  placeholder="小米6&nbsp;小米MIX现货">
            </div>
            <div class="submit fl">
                <input type="submit" class="sousuo" value="搜索"/>
            </div>
            <div class="clear"></div>
        </form>
        <div class="clear"></div>
    </div>
</div>